/* Bootstrap classes */
@import "~bootstrap/dist/css/bootstrap.css";

/* Modify the root font size */
html {
  font-size: 18px; /* Change this value as needed */
}

a.navbar-brand {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

@media (min-width: 768px) {
  a.navbar-brand {
    font-size: 18px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0,0,0, .05);
}
